
<h1>
  About this app and developer
</h1>
<p class="p-3 m-3 border border-primary bg-info">
  This app will let users enter their daily events for each workday
  and store these events in mongodb, users can alos check these events by
  clicking into the corresponding section.
</p>
<ul>
  <li>Developer -- Zhiwei Hu</li>
</ul>

