<div class="bg-light m-5 p-2 border border-primary border-2">
    <div class="">
        <span>
            <%= todayevent.day %> 
            <%= todayevent.thisevent %> 
        </span>
    </div>
</div>