

    <div class="jumbotron">
        <h1>Daily events recorder with mongdb</h1>
        <p></p>
    </div>
    
    <% if (true || loggedIn) {%>  
        <!-- <form method="post" action="/courses/bySubject">
            Show Courses by Subject: 
              <input type="text" name="subject" 
                     placeholder="e.g. COSI">
            <input type="submit" value="submit">
        </form> -->
        <br>
        <form method="post" action="/events/show"><br>
            Select a day to check: <select id="day" name="day" class="form-select form-select-sm">
          <option>Monday</option>
          <option>Tuesday</option>
          <option>Wednesday</option>
          <option>Thursday</option>
          <option>Friday</option>
          </select><br>
          <input type="submit" value="Click to check events of the selected day">
        </form>
        <br>
        <br>
        <br>
        <form method="post" action="/events/add"><br>
            Select a day to add event: <select id="day" name="day" class="form-select form-select-sm">
          <option>Monday</option>
          <option>Tuesday</option>
          <option>Wednesday</option>
          <option>Thursday</option>
          <option>Friday</option>
          </select><br>
          <input type="text" name="newevent" 
                     placeholder="e.g. Book a flight to LA" class="form-control">
                     <br>
          <input type="submit" value="Click to add event to the selected day">
        </form>
        <!-- <a href="/schedule/show">Show Schedule</a> -->
    <% } %>


